<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oreo.mcommonjobs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activtity.MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activtity.UserSignInActivity" />
        <activity android:name=".Activtity.UserTypeSelectionActivity" />
        <activity android:name=".Activtity.UserNameSetupActivity" />
        <activity android:name=".Activtity.JobSeekerNavigationMenuActivity" />
        <activity android:name=".Activtity.JobSeekerProfileMenuActivity" />
        <activity android:name=".Activtity.JobSeekerProfileAdditionActivity" />
        <activity android:name=".Activtity.JobSeekerViewProfileJobsActivity" />
        <activity android:name=".Activtity.JobSeekerViewOtherJobsActivity" />
        <activity android:name=".Activtity.JobProviderCreateJobPostingActivity" />
        <activity android:name=".Activtity.JobProviderNavigationMenuActivity" />
        <activity android:name=".Activtity.JobProviderViewApplicantsActivity" />
        <activity android:name=".Activtity.JobProviderViewJobPostingsActivity" />
        <activity android:name=".Activtity.JobProviderViewJobPostingDetailsActivity" />
        <activity android:name=".Activtity.JobProviderViewApplicantDetailsActivity" />
        <activity android:name=".Activtity.JobSeekerViewJobDetailsActivity" />
        <activity android:name=".Activtity.JobSeekerFillJobApplicationActivity"></activity>
    </application>

</manifest>